---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 • pichxyaponn" description="Page not found.">
  <main
    class="container mx-auto flex max-w-4xl flex-col items-center gap-4 p-2 pt-24 text-center"
  >
    <h1 class="text-6xl font-medium text-zinc-900">404</h1>
    <p class="text-sm font-light text-zinc-600">This page doesn't exist (or has moved).</p>
    <a href="/" class="link font-medium underline">Back to home</a>
  </main>
</Layout>
