---
import Footer from "../components/Footer.astro";
import Information from "../components/Information.astro";
import Introduction from "../components/Introduction.astro";
import Story from "../components/Story.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Pichayapon • pichxyaponn">
  <main class="container mx-auto max-w-4xl p-4 md:p-8 pt-2">
    <Introduction />
    <Information />
    <Story />
    <Footer />
  </main>
</Layout>
