<section id="about" class="mb-8">
  <div
    class="bg-white/80 backdrop-blur-sm border border-zinc-200 rounded-lg shadow-sm hover:shadow-lg transition-shadow duration-300 p-5 space-y-4 text-zinc-600 text-sm font-light"
  >
    <p>
      <span class="text-bold">I’m a full-stack developer</span>
      and studying Computer Science at <a
        href="https://www.csc.ku.ac.th/"
        target="_blank"
        rel="noopener noreferrer"
        class="underline font-medium link">KUCSC</a
      >. I have experience in Full-Stack development, particularly in API development,
      Cybersecurity, DevSecOps and Cloud Infrastructure. I have also had experience in creating
      program rental services and digital e-commerce.
    </p>
    <p>
      <span class="text-bold">I have a passion</span>
      for learning new technologies and staying up-to-date with the latest developments in the field.
    </p>
    <p>
      <span class="text-bold">Currently</span>
      I'm working on a digital e-commerce project called <a
        href="http://winterfell.xentinal.net"
        target="_blank"
        rel="noopener noreferrer"
        class="underline font-medium link">Winterfell</a
      >.
    </p>
  </div>
</section>
