<section id="information" class="mb-8">
  <div class="grid grid-cols-1 sm:grid-cols-5 gap-6">
    <div class="md:col-span-2">
      <img
        src="/me.jpeg"
        alt="Pichayapon Chaipanha's profile picture"
        class="w-full h-full object-cover rounded-lg border border-zinc-200"
      />
    </div>
    <div class="md:col-span-3">
      <div
        class="bg-white/80 backdrop-blur-sm border border-zinc-200 rounded-lg shadow-sm hover:shadow-lg transition-shadow duration-300 p-3 space-y-1"
      >
        <a
          href="https://winterfell.xentinal.net"
          target="_blank"
          rel="noopener noreferrer"
          class="block p-3 py-2 transition-all duration-300 hover:bg-zinc-100 hover:shadow-md rounded-md border border-transparent hover:border-zinc-200"
        >
          <div class="fi justify-between">
            <div class="flex-1 space-y-0">
              <h3 class="text-bold">Digital E-Commerce Platform</h3>
              <p class="text-zinc-500 text-sm">
                Working as a full-stack developer on the Winterfell project.
              </p>
              <div>
                <span class="inline-block bg-sky-100 text-sky-800 tech-badge">Next.js</span>
                <span class="inline-block bg-emerald-100 text-emerald-800 tech-badge"
                  >ElysiaJS</span
                >
                <span class="inline-block bg-neutral-100 text-neutral-800 tech-badge">Kysely</span
                >
              </div>
            </div>
            <div class="text-zinc-500 text-sm">Personal Project</div>
          </div>
        </a>
        <a
          href="http://xentinal.net"
          target="_blank"
          rel="noopener noreferrer"
          class="block p-3 py-2 transition-all duration-300 hover:bg-zinc-100 hover:shadow-md rounded-md border border-transparent hover:border-zinc-200"
        >
          <div class="fi justify-between">
            <div class="flex-1 space-y-0">
              <h3 class="text-bold">Program Rental Service</h3>
              <p class="text-zinc-500 text-sm">
                Developed a full-stack application for program rentals.
              </p>
              <div>
                <span class="inline-block bg-sky-100 text-emerald-800 tech-badge">Next.js</span>
                <span class="inline-block bg-emerald-100 text-sky-800 tech-badge">ElysiaJS</span>
                <span class="inline-block bg-neutral-100 text-sky-800 tech-badge">Kysely</span>
              </div>
            </div>
            <div class="text-zinc-500 text-sm">Personal Project</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
