<section id="story" class="mb-8">
  <div class="space-y-2">
    <div
      class="bg-white/80 backdrop-blur-sm border border-zinc-200 rounded-lg shadow-sm hover:shadow-lg transition-shadow duration-300 p-5 text-sm text-zinc-600 space-y-4 font-light"
    >
      <p>
        <span class="text-bold">A journey of a thousand miles, beginning with a single step.</span
        >
        I started my journey in the world of programming in 2018, and since then, I've been learning
        and expanding my skills in the field of reverse engineering. Then, I decided to switch to web
        development and learn more about full-stack development and devsecops.
      </p>
      <p>
        <span class="text-bold">Presently,</span>
        I am currently studying Rust with Domain-Driven Design to enhance my understanding of backend
        development.
      </p>
    </div>
  </div>
</section>
