---
import "@fontsource/sarabun/300.css";
import "@fontsource/sarabun/400.css";
import "@fontsource/sarabun/500.css";
import "../styles/global.css";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Pichayapon Chaipanha — full-stack developer. API development, cybersecurity, DevSecOps and cloud infrastructure."
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Pichayapon C. | Portfolio RSS Feed"
      href="/rss.xml"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="mx-auto bg-zinc-50 text-zinc-800">
    <div class="fixed right-4 bottom-4 z-10 transition-all">
      <a
        href="https://webring.wonderful.software#pichayapon.com"
        title="วงแหวนเว็บ"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="https://webring.wonderful.software/webring.black.svg"
          width="32"
          height="32"
          alt="วงแหวนเว็บ"
          loading="eager"
        />
      </a>
    </div>
    <header
      class="sticky top-0 z-50 border-b border-zinc-200/50 bg-zinc-900/5 py-3 backdrop-blur-lg"
    >
      <nav class="fi container mx-auto max-w-4xl justify-between px-4">
        <a href="/" class="link font-medium"> pichxyaponn </a>
        <div class="fi text-bold gap-6 text-sm">
          <a href="/#about" class="link">About</a>
          <a href="/#projects" class="link">Projects</a>
          <a href="/#me" class="link">Me</a>
          <a href="/certifications" class="link">Certs</a>
        </div>
      </nav>
    </header>
    <slot />
    <Footer />
  </body>
</html>
